<h1>HBG - Heinrich-B&ouml;ll Gymnasium</h1>
<table width="100%">
<tr>
   <td valign="top" width="100%">
      <table align="right">
      <tbody><tr>
         <td><img src="templates/img/hofWand.JPG" hspace="5" vspace="5" border="0"></td>
      </tr>
      </tbody></table>

      <hr>
      <b>News</b>
   </td>
</tr>
<tr>
   <td>
   <table align="right">
      <tbody><tr>
         <td><img src="templates/img/maennchen.JPG" hspace="5" vspace="5"></td>
      </tr>
      </tbody></table>
      <hr>
      <b>aktuelle Termine</b>
      
    </td>
</tr>
</table>

<img src="templates/img/wandBaum.JPG" alt="Bild kann nicht geladen werden" hspace="4" vspace="5" border="0">
<img src="templates/img/trio.JPG" alt="Bild kann nicht geladen werden" hspace="0" vspace="5" border="0">
<img src="templates/img/diskurs.JPG" alt="Bild kann nicht geladen werden" hspace="4" vspace="5" border="0">

