<h1><!-- global.title --></h1>
<table width="100%">
  <tr><td width="150">
  </td><td align="center">
   <a href="index.php?module=<!-- global.module -->&action=clear&view=<!-- global.view -->">
     G&auml;stebuch leeren</a>
  </td></tr>

  <tr><td>&nbsp;
  </td><td>
  </td></tr>
<!-- gb.* -->
  <tr><td valign="top"><!-- gb.name --><br />
    <a href="index.php?module=<!-- global.module -->&action=delete&view=<!-- global.view -->&item=<!-- gb.id -->"><img src="modules/<!-- global.module -->/templates/img/delete.png" border="0" alt="l&ouml;schen" /></a>
    <!-- HAS.gb.email -->  
    <a href="mailto:<!-- gb.email -->"><img src="modules/<!-- global.module -->/templates/img/mail.png" border="0" alt="e-Mail" /></a>
    <!-- HAS.gb.email -->  
    <!-- HAS.gb.webseite -->  
    <a href="<!-- gb.webseite -->"><img src="modules/<!-- global.module -->/templates/img/home.png" border="0" alt="e-Mail" /></a>
    <!-- HAS.gb.webseite -->  
    
  </td><td><!-- gb.text -->
  </td></tr>
<!-- gb.* -->
</table>

<!-- template.forward -->index.php?module=<!-- global.module -->&view=<!-- global.view --><!-- template.forward -->
